*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //  TO MAKE 1REM=10PX...10/16=0.625....

  @media only screen and (max-width: 56.25em) {
    & {
      font-size: 52.25%;
    }
  }
}

body {
  margin: 0;
  color: #363535;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background-color: #d2691e;
    color: #fff;
  }
}
