.Landing {
  height: 100vh;
  color: #fff;
  padding: 4rem;
  justify-content: center;
  align-content: center;
  grid-gap: 3rem;
  display: grid;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(#283e3f, 0.7),
      rgba(#2f4f4f, 0.7)
    ),
    url("../../../assets/images//Shopping-Background.jpg");

  h1 {
    letter-spacing: 0.5rem;
  }
  &_Actions {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 4rem;
    justify-content: center;
  }
}
