.ProductCard {
  display: grid;
  perspective: 150rem;
  position: relative;
  height: 52rem;
  justify-items: center;
  grid-gap: 1rem;

  &_Side {
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);

    &__FrontSide {
      background-color: #fff;
    }

    &__BackSide {
      display: grid;
      justify-items: center;
      color: #fff;
      align-content: center;
      grid-gap: 2rem;
      transform: rotateY(180deg);
      // background-image: linear-gradient(to right bottom, #55c57a, #7ed56f);
      background-image: radial-gradient(at 0% 100%, #61045f -10%, #162a4e 100%);
    }
  }
  &:hover &_Side__FrontSide {
    transform: rotateY(-180deg);
  }
  &:hover &_Side__BackSide {
    transform: rotateY(0);
  }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    border-radius: 0.5rem;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);
    background-color: #fff;
    &_Side {
      height: auto;
      position: relative;
      box-shadow: none;

      &__BackSide {
        transform: rotateY(0);
        clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    &:hover &_Side__FrontSide {
      transform: rotateY(0);
    }
  }

  &_Header {
    top: -1.6rem;
    z-index: 1000;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    left: 0;
    right: 0;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    text-align: center;

    &__Heading {
      font-size: 2rem;
      color: #5f5f5f;
    }
  }
  &_Price {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 8rem;

    @media only screen and (max-width: 56.25em) {
      & {
        font-size: 4rem;
        margin-bottom: 0rem;
      }
    }
  }

  &_Description {
    font-size: 1.6rem;
    list-style: none;
    margin: 0 auto;
    width: 80%;
    text-align: center;

    li {
      padding: 0.5rem;
    }
    li:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &_Actions {
    display: grid;
    grid-gap: 0.7rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    &__Button {
      text-decoration: none;
    }
    @media only screen and (max-width: 56.25em) {
      & {
        margin-bottom: 2rem;
      }
    }
  }

  &_ImageContainer {
    height: 40vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    width: 100%;

    &__Image {
      height: 100%;
      width: 100%;
    }
  }
  &_Only {
    @media only screen and (max-width: 56.25em) {
      & {
        color: #fff;
        font-weight: 400;
        margin-top: 3rem;
      }
    }
  }
}
