.CartProductCard {
  &_Quantity {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    &__Container {
      margin-left: 1rem;
      justify-items: center;
      align-items: center;
      display: grid;
    }
  }

  &_Icon {
    fill: #ff4500;
    cursor: pointer;

    &:hover {
      fill: #025302;
    }
  }
}
