.Cart {
  padding: 2rem;
  min-height: 100vh;
  background-color: #f7f7f7;
  &_Link {
    text-align: center;
    padding: 4rem;
    margin-top: 5rem;
    border-top: 0.5rem solid #5f5f5f;
    border-bottom: 0.5rem solid #5f5f5f;
  }
  &_Container {
    display: grid;
    justify-content: center;
    margin: 6rem 0rem;
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-columns: repeat(2, minmax(30vh, 60vh));

    @media only screen and (max-width: 37.5em) {
      & {
        grid-template-columns: repeat(1, minmax(30vh, 60vh));
      }
    }
  }
}
