.Product {
  min-height: 100vh;
  &_Description {
    list-style: none;
    font-size: 1.6rem;
    padding: 2rem;
    margin-left: 3rem;
    display: grid;
    justify-content: start;
  }
  &_ProductDetails {
    display: grid;
    justify-items: center;
    margin: 3rem 0;
    grid-gap: 2rem;

    &__Description {
      display: grid;
      grid-gap: 4rem;
      &_Heading {
        padding: 0.2rem;
        box-shadow: 0rem 0rem 1rem rgba($color: #000000, $alpha: 0.4);
        justify-self: center;
        font-size: 2rem;
        border-radius: 0.4rem;
      }
      width: 80%;
      border-radius: 1rem;
      box-shadow: 0rem 0rem 1rem rgba($color: #000000, $alpha: 0.4);
    }
    &__Heading {
      text-align: center;
    }

    &__Image {
      width: 100%;
      height: 60vh;
    }
  }
}
