.Products {
  background-color: #f7f7f7;
  padding: 3rem;
  background-position: center;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  &_Container {
    display: grid;
    justify-content: center;
    margin: 6rem 0rem;
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-columns: repeat(2, minmax(30vh, 60vh));

    @media only screen and (max-width: 37.5em) {
      & {
        grid-template-columns: repeat(1, minmax(30vh, 60vh));
      }
    }
  }

  &_Header {
    display: grid;
    justify-items: center;
    &__Heading {
      background-image: linear-gradient(
        to bottom right,
        #55c57a,
        #7ed56f,
        #28b485
      );
      color: transparent;
      background-clip: text;
    }
    &__Brand {
      fill: #7ed56f;
      height: 5rem;
      width: 5rem;
    }
  }
}
