.Order {
  display: grid;
  width: 80%;
  grid-gap: 3rem;
  background-color: #fff;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 2rem;
  align-items: center;
  justify-items: center;
  position: relative;
  &_DeleteButton {
    right: 1rem;
    top: 1rem;
    position: absolute;
    background: transparent;
    outline: none;
    border: none;

    &__CloseIcon {
      width: 3rem;
      height: 3rem;
      fill: #ff0000;
      cursor: pointer;
    }
  }
  &_ItemInformation {
    display: grid;
    letter-spacing: 0.2rem;
    grid-gap: 1rem;
    &__Container {
      display: flex;
      grid-gap: 0.6rem;
    }
    &__Icons {
      margin-right: 1rem;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
}
