.Checkout {
  display: grid;
  grid-gap: 3rem;
  align-items: center;
  justify-items: center;
  min-height: 100vh;

  &_Product {
    background-image: linear-gradient(
      to bottom right,
      #045a40,
      #116d51,
      #089b6f
    );
    display: grid;
    width: 70%;
    justify-items: center;
    grid-gap: 3rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 2rem;
  }
  &_Stripe {
    margin-bottom: 4rem;
  }
}
