.AddProduct {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;

  &_Form {
    display: grid;
    grid-template-rows: min-content max-content min-content;
    width: 50%;
    grid-gap: 2rem;

    @media only screen and (max-width: 56.25em) {
      & {
        width: 70%;
      }
    }
    &__Label {
      margin-left: 1rem;
      background-color: #fff;
      font-size: 1.6rem;
      color: #858585;
    }
    &__Button {
      width: 50%;
      justify-self: center;
    }
  }

  &_Dropzone {
    padding: 1rem;
    font-size: 1.6rem;
    &__Input {
      padding: 1rem;
      width: 100%;
      border: 0.1px solid #948f8f;
      box-shadow: 0rem 0rem 0.3rem #948f8f;
      border-radius: 0.5rem;

      &_Input {
        &:focus {
          box-shadow: 0rem 0rem 0.6rem #06e663;
          outline: none;
        }
      }
    }
  }
}
