.Navbar {
  // background-image: linear-gradient(to bottom right, #045a40, #116d51, #089b6f);
  background-image: radial-gradient(
    at 0% 100%,
    #61045f -20%,
    #162a4e 100%,
    #18172b 60%
  );
  height: 6rem;
  width: 100%;

  &_Nav {
    height: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-around;
    align-content: center;

    @media only screen and (max-width: 56.25em) {
      &__SideDrawerHide {
        display: none;
      }
    }
    &__SideDrawerShow {
      margin-left: 3rem;
      align-content: start;
      grid-gap: 5rem;
      margin-top: 4rem;
      display: grid;
      justify-content: start;
      grid-template-columns: none;
    }

    &__LinkContainer {
      display: grid;
      grid-template-columns: repeat(5, max-content);
      grid-gap: 4rem;

      @media only screen and (max-width: 56.25em) {
        & {
          grid-template-columns: none;
          grid-gap: 5rem;
        }
      }
    }

    &__Link {
      cursor: pointer;
      text-decoration: none;
      font-size: 1.8rem;
      color: #aca4a4;
      display: flex;
      justify-items: center;
      align-items: center;
      transition: all 0.4s;
      @media only screen and (max-width: 56.25em) {
        & {
          font-size: 2rem;
        }
      }
      &:hover {
        color: #fff;
        transform: translateY(-0.3rem);
      }
      &_Brand {
        color: #b9b3b3;
        font-size: 2rem;
        letter-spacing: 0.3rem;

        @media only screen and (max-width: 56.25em) {
          & {
            font-size: 2rem;
          }
        }
      }
      &:hover &_Brand {
        color: #fff;
      }
    }
    &__NavbarSVG {
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      fill: #b9b3b3;
    }

    &__Link:hover &__NavbarSVG {
      fill: #fff;
    }

    &__BrandSVG {
      height: 4rem;
      width: 4rem;
      margin-right: 0.5rem;
      fill: #b9b3b3;

      @media only screen and (max-width: 56.25em) {
        & {
          height: 2rem;
          width: 2rem;
        }
      }
    }

    &__Link:hover &__BrandSVG {
      fill: #fff;
    }
  }
}
